<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Клиенты банка</title>

    <link th:rel="stylesheet" th:href="@{/webjars/bootstrap/5.3.2/css/bootstrap.min.css}"/>
</head>
<body style="text-align: center" class="bg-success p-2 text-dark bg-opacity-25">

<header>
    <h2 class="mb-4">Клиенты банка</h2>
</header>

<div class="container mt-4">
    <div th:if="${clients.isEmpty()}" class="fs-5 mb-3">
        <p>Список клиентов пуст</p>
    </div>

    <form th:method="GET" th:action="@{/api/clients/new}" class="mb-3">
        <input type="submit" class="btn btn-success" value="Добавить клиента"/>
    </form>

    <div th:if="${!clients.isEmpty()}">
        <table class="table table-bordered table-striped table-hover" style="text-align: left">
            <thead>
            <tr>
                <th>#</th>
                <th>Фамилия</th>
                <th>Имя</th>
                <th>Отчество</th>
                <th>Полная информация</th>
            </tr>
            </thead>

            <tbody>
            <tr th:each="client : ${clients}">
                <td th:text="${clientStat.index+1}">#</td>
                <td th:text="${client.lastName}">Фамилия</td>
                <td th:text="${client.firstName}">Имя</td>
                <td th:text="${client.middleName}">Отчество</td>
                <td>
                    <form th:method="GET" th:action="@{/api/clients/{clientId}(clientId=${client.id})}">
                        <input type="submit" value="Подробнее"/>
                    </form>
                </td>
            </tr>
            </tbody>
        </table>
    </div>
</div>

<script th:src="@{/webjars/bootstrap/5.3.2/js/bootstrap.min.js}"></script>

</body>
</html>