<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Клиенты банка</title>

    <link th:rel="stylesheet" th:href="@{/webjars/bootstrap/5.3.2/css/bootstrap.min.css}"/>
</head>
<body style="text-align: center" class="bg-success p-2 text-dark bg-opacity-25">

<h4 style="text-align: center">Фильтрация и поиск по:</h4>

<div class="container mt-4">
    <form th:method="GET" th:action="@{/api/clients}">
        <div class="mb-3">
            <div class="row">
                <label for="lastName" class="col-sm-3 col-form-label">фамилии:</label>
                <div class="col-md-3">
                    <input type="text" th:field="${filter.lastName}" class="form-control" id="lastName" placeholder="Иванов"/>
                </div>

                <label for="firstName" class="col-sm-3 col-form-label">имени:</label>
                <div class="col-md-3">
                    <input type="text" th:field="${filter.firstName}" class="form-control" id="firstName" placeholder="Иван"/>
                </div>

                <label for="middleName" class="col-sm-3 col-form-label">отчеству:</label>
                <div class="col-md-3">
                    <input type="text" th:field="${filter.middleName}" class="form-control" id="middleName" placeholder="Иванович"/>
                </div>

                <label for="seriesNumber" class="col-sm-3 col-form-label">серии и номеру паспорта:</label>
                <div class="col-md-2">
                    <input type="text" th:field="${filter.seriesNumber}" class="form-control" id="seriesNumber" placeholder="11 22 333444"/>
                </div>

                <div class="col-auto" style="color: red" th:if="${#fields.hasErrors('filter.lastName')}" th:errors="${filter.lastName}"></div>
                <div class="col-auto" style="color:red" th:if="${#fields.hasErrors('filter.firstName')}" th:errors="${filter.firstName}"></div>
                <div class="col-auto" style="color:red" th:if="${#fields.hasErrors('filter.middleName')}" th:errors="${filter.middleName}"></div>
                <div class="col-auto" style="color:red" th:if="${#fields.hasErrors('filter.seriesNumber')}" th:errors="${filter.seriesNumber}"></div>
            </div>

            <input type="submit" class="btn btn-secondary" value="Фильтровать"/>
        </div>
    </form>

    <h2 class="mb-4">Клиенты банка</h2>

    <div th:if="${clients.isEmpty()}" class="fs-5 mb-3">
        <p>Список клиентов пуст или совпадений не найдено</p>
    </div>

    <form th:method="GET" th:action="@{/api/clients/new}" class="mb-3">
        <input type="submit" class="btn btn-success" value="Добавить клиента"/>
    </form>

    <div th:if="${!clients.isEmpty()}">
        <table class="table table-bordered table-striped table-hover" style="text-align: left">
            <thead>
            <tr>
                <th>#</th>
                <th>Фамилия</th>
                <th>Имя</th>
                <th>Отчество</th>
                <th>Серия и номер паспорта</th>
                <th>Полная информация</th>
            </tr>
            </thead>

            <tbody>
            <tr th:each="client : ${clients}">
                <td th:text="${clientStat.index+1}">#</td>
                <td th:text="${client.lastName}">Фамилия</td>
                <td th:text="${client.firstName}">Имя</td>
                <td th:text="${client.middleName}">Отчество</td>
                <td th:text="${client.seriesNumber}">Серия и номер паспорта</td>
                <td>
                    <form th:method="GET" th:action="@{/api/clients/{clientId}(clientId=${client.id})}">
                        <input type="submit" value="Подробнее"/>
                    </form>
                </td>
            </tr>
            </tbody>
        </table>
    </div>
</div>

<script th:src="@{/webjars/bootstrap/5.3.2/js/bootstrap.min.js}"></script>

</body>
</html>