<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Изменение данных клиента</title>

    <link th:rel="stylesheet" th:href="@{/webjars/bootstrap/5.3.2/css/bootstrap.min.css}"/>
</head>
<body class="bg-success p-2 text-dark bg-opacity-25">

<nav class="navbar navbar-light" style="background-color: #e3f2fd">
    <div class="container" style="display: inline-block">
        <a class="btn btn-primary" th:href="@{/api/clients}">Список клиентов</a>
        <a class="btn btn-secondary" th:href="@{/api/clients/{clientId}(clientId=${client.id})}">Текущий клиент</a>
    </div>
</nav>

<div class="container mt-4">
    <h2 class="mb-4" style="text-align: center">Изменение данных клиента</h2>

    <form th:method="PATCH" th:action="@{/api/clients/{clientId}(clientId=${client.id})}" th:object="${client}">
        <div class="mb-3">
            <div class="col-md-4">
                <label for="lastName" class="form-label">Введите фамилию: </label>
                <input type="text" th:field="*{lastName}" class="form-control" id="lastName" placeholder="Иванов"/>
            </div>
            <div style="color: red" th:if="${#fields.hasErrors('lastName')}" th:errors="*{lastName}"></div>
        </div>

        <div class="mb-3">
            <div class="col-md-4">
                <label for="firstName" class="form-label">Введите имя: </label>
                <input type="text" th:field="*{firstName}" class="form-control" id="firstName" placeholder="Иван"/>
            </div>
            <div style="color:red" th:if="${#fields.hasErrors('firstName')}" th:errors="*{firstName}"></div>
        </div>

        <div class="mb-3">
            <div class="col-md-4">
                <label for="middleName" class="form-label">Введите отчество (при наличии): </label>
                <input type="text" th:field="*{middleName}" class="form-control" id="middleName" placeholder="Иванович"/>
                <small class="text-muted">или оставьте поле пустым</small>
            </div>
            <div style="color:red" th:if="${#fields.hasErrors('middleName')}" th:errors="*{middleName}"></div>
        </div>

        <div class="mb-3">
            <div class="col-md-2">
                <label for="birthdate" class="form-label">Введите дату рождения: </label>
                <input type="text" th:field="*{birthdate}" class="form-control" id="birthdate" placeholder="01.01.2023"/>
            </div>
            <div style="color:red" th:if="${#fields.hasErrors('birthdate')}" th:errors="*{birthdate}"></div>
        </div>

        <div class="mb-3">
            <label for="snils" class="form-label">Введите СНИЛС (при необходимости): </label>
            <div class="col-md-2">
                <input type="text" th:field="*{snils}" class="form-control" id="snils" placeholder="123-456-789 01"/>
                <small class="text-muted">или оставьте поле пустым</small>
            </div>
            <div style="color:red" th:if="${#fields.hasErrors('snils')}" th:errors="*{snils}"></div>
        </div>

        <div class="mb-3">
            <label for="phoneNumber" class="form-label">Введите номер телефона (при необходимости): </label>
            <div class="col-md-2">
                <input type="tel" th:field="*{phoneNumber}" class="form-control" id="phoneNumber" placeholder="+79876543210"/>
                <small class="text-muted">или оставьте поле пустым</small>
            </div>
            <div style="color:red" th:if="${#fields.hasErrors('phoneNumber')}" th:errors="*{phoneNumber}"></div>
        </div>

        <input type="submit" class="btn btn-success" value="Сохранить изменения"/>
    </form>
</div>

<script th:src="@{/webjars/bootstrap/5.3.2/js/bootstrap.min.js}"></script>

</body>
</html>