<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Изменение данных клиента</title>

    <link th:rel="stylesheet" th:href="@{/webjars/bootstrap/5.3.1/css/bootstrap.min.css}"/>
</head>
<body>

<a th:href="@{/api/clients}" class="btn btn-primary btn-sm">Список клиентов</a>
<a th:href="@{/api/clients/{clientId}(clientId=${client.id})}" class="btn btn-secondary btn-sm">Текущий клиент</a>
<hr>

<div align="center">
    <h3>Изменение данных клиента</h3>

    <hr>
    <form th:method="PATCH"
          th:action="@{/api/clients/{clientId}(clientId=${client.id})}"
          th:object="${client}">
        <label for="lastName">Введите фамилию: </label>
        <input type="text" th:field="*{lastName}" id="lastName"/><br>
        <div style="color:red" th:if="${#fields.hasErrors('lastName')}" th:errors="*{lastName}"></div>
        <br>
        <label for="firstName">Введите имя: </label>
        <input type="text" th:field="*{firstName}" id="firstName"/><br>
        <div style="color:red" th:if="${#fields.hasErrors('firstName')}" th:errors="*{firstName}"></div>
        <br>
        <label for="middleName">Введите отчество: </label>
        <input type="text" th:field="*{middleName}" id="middleName"/><br>
        <div style="color:red" th:if="${#fields.hasErrors('middleName')}" th:errors="*{middleName}"></div>
        <br>
        <label for="birthDate">Введите дату рождения: </label>
        <input type="text" th:field="*{birthDate}" id="birthDate"/><br>
        <div style="color:red" th:if="${#fields.hasErrors('birthDate')}" th:errors="*{birthDate}"></div>
        <br>
        <label for="snils">Введите СНИЛС: </label>
        <input type="text" th:field="*{snils}" id="snils"/><br>
        <div style="color:red" th:if="${#fields.hasErrors('snils')}" th:errors="*{snils}"></div>
        <br>
        <input type="submit" value="Сохранить изменения"/>
    </form>
</div>

<script th:src="@{/webjars/bootstrap/5.3.1/js/bootstrap.min.js}"></script>

</body>
</html>