<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Добавление клиента</title>
    <link th:rel="stylesheet" th:href="@{/webjars/bootstrap/5.3.2/css/bootstrap.min.css}"/>
</head>
<body class="bg-success p-2 text-dark bg-opacity-25">

<nav class="navbar navbar-light" style="background-color: #e3f2fd">
    <div class="container">
        <a class="btn btn-primary" th:href="@{/api/clients}">Список клиентов</a>
    </div>
</nav>

<div class="container mt-4" style="text-align: center">
    <h2 class="mb-4">Добавление нового клиента</h2>

    <form th:method="POST" th:action="@{/api/clients}" th:object="${client}">
        <div class="mb-3">
            <label for="lastName">Введите фамилию: </label>
            <input type="text" th:field="*{lastName}" id="lastName" placeholder="Иванов"/>
            <div style="color:red" th:if="${#fields.hasErrors('lastName')}" th:errors="*{lastName}"></div>
        </div>

        <div class="mb-3">
            <label for="firstName">Введите имя: </label>
            <input type="text" th:field="*{firstName}" id="firstName" placeholder="Иван"/>
            <div style="color:red" th:if="${#fields.hasErrors('firstName')}" th:errors="*{firstName}"></div>
        </div>

        <div class="mb-3">
            <label for="middleName">Введите отчество: </label>
            <input type="text" th:field="*{middleName}" id="middleName" placeholder="Иванович"/>
            <div style="color:red" th:if="${#fields.hasErrors('middleName')}" th:errors="*{middleName}"></div>
        </div>

        <div class="mb-3">
            <label for="birthDate">Введите дату рождения: </label>
            <input type="date" th:field="*{birthDate}" id="birthDate"/>
            <div style="color:red" th:if="${#fields.hasErrors('birthDate')}" th:errors="*{birthDate}"></div>
        </div>

        <div class="mb-3">
            <label for="snils">Введите СНИЛС: </label>
            <input type="text" th:field="*{snils}" id="snils" placeholder="123-456-789 01"/>
            <div style="color:red" th:if="${#fields.hasErrors('snils')}" th:errors="*{snils}"></div>
        </div>

        <input type="submit" class="btn btn-success" value="Создать"/>
    </form>
</div>

<script th:src="@{/webjars/bootstrap/5.3.2/js/bootstrap.min.js}"></script>

</body>
</html>