<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Ошибка</title>

    <link th:rel="stylesheet" th:href="@{/webjars/bootstrap/5.3.1/css/bootstrap.min.css}"/>
</head>
<body>

<a th:href="@{/api/clients}" class="btn btn-primary btn-sm">Список клиентов</a>
<hr>

<div align="center" style="color: red" class="fs-3">
    <p th:text="'Ошибка: ' + ${error}"></p>
</div>

<script th:src="@{/webjars/bootstrap/5.3.1/js/bootstrap.min.js}"></script>

</body>
</html>