<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Банковский счёт</title>

    <link th:rel="stylesheet" th:href="@{/webjars/bootstrap/5.3.2/css/bootstrap.min.css}"/>
</head>
<body class="bg-success p-2 text-dark bg-opacity-25">

<nav class="navbar navbar-light" style="background-color: #e3f2fd">
    <div class="container" style="display: inline-block">
        <a class="btn btn-primary" th:href="@{/api/clients}">Список клиентов</a>
        <a class="btn btn-secondary" th:href="@{/api/clients/{clientId}(clientId=${clientId})}">Текущий клиент</a>
        <a class="btn btn-outline-primary" th:href="@{/api/clients/{clientId}/accounts
                                                                   (clientId=${clientId})}">Банковские счета клиента</a>
    </div>
</nav>

<div class="container mt-4">
    <h2 class="mb-4" style="text-align: center">Информация о банковском счёте</h2>

    <div class="fs-5">
        <div class="mb-3 row">
            <label for="accountNumber" class="col-sm-2 col-form-label">Номер счёта:</label>
            <div class="col-sm-10">
                <input type="text" readonly class="form-control-plaintext" id="accountNumber" th:field="${account.accountNumber}">
            </div>
        </div>

        <div class="mb-3 row">
            <label for="balance" class="col-sm-2 col-form-label">Баланс ₽:</label>
            <div class="col-sm-10">
                <input type="text" readonly class="form-control-plaintext" id="balance" th:field="${account.balance}">
            </div>
        </div>

        <div class="mb-3 row">
            <label for="status" class="col-sm-2 col-form-label">Статус:</label>
            <div class="col-sm-10">
                <input type="text" readonly class="form-control-plaintext" id="status" th:field="${account.status.statusName}">
            </div>
        </div>
    </div>

    <div th:if="${!account.status.name().equals('CLOSED')}">
        <hr>
        <form th:method="GET"
              th:action="@{/api/clients/{clientId}/accounts/{accountId}/top-up
                                        (clientId=${clientId}, accountId=${account.id})}"
              style="display: inline-block">
            <input type="submit" class="btn btn-success" value="Пополнить счёт"/>
        </form>

        <form th:method="GET"
              th:action="@{/api/clients/{clientId}/accounts/{accountId}/withdraw
                                        (clientId=${clientId}, accountId=${account.id})}"
              style="display: inline-block">
            <input type="submit" class="btn btn-info" value="Снять деньги со счёта"/>
        </form>

        <button type="button" class="btn btn-danger" data-bs-toggle="modal" data-bs-target="#staticBackdrop"
                style="display: inline-block">Закрыть счёт
        </button>

        <div class="modal fade" id="staticBackdrop" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1"
             aria-labelledby="staticBackdropLabel" aria-hidden="true">
            <div class="modal-dialog modal-dialog-centered">
                <div class="modal-content">
                    <div class="modal-header">
                        <h5 class="modal-title" id="staticBackdropLabel">Предупреждение</h5>
                        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Отмена"></button>
                    </div>
                    <form th:method="PATCH"
                          th:action="@{/api/clients/{clientId}/accounts/{accountId}/close
                                                    (clientId=${clientId}, accountId=${account.id})}">
                        <div class="modal-body">
                            <p>Внимание! Это действие приведёт к закрытию счёта без возможности вновь его открыть</p>
                        </div>
                        <div class="modal-footer">
                            <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Отмена</button>
                            <input type="submit" class="btn btn-danger" value="Закрыть счёт"/>
                        </div>
                    </form>
                </div>
            </div>
        </div>

        <div class="alert alert-danger" role="alert" th:if="${closeAccountError}">
            <p th:text="${closeAccountError}"></p>
        </div>
    </div>
</div>

<script th:src="@{/webjars/bootstrap/5.3.2/js/bootstrap.min.js}"></script>

</body>
</html>