<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Банковский счёт</title>

    <link th:rel="stylesheet" th:href="@{/webjars/bootstrap/5.3.1/css/bootstrap.min.css}"/>
</head>
<body>

<a th:href="@{/api/clients}" class="btn btn-primary btn-sm">Список клиентов</a>
<a th:href="@{/api/clients/{clientId}(clientId=${clientId})}"
   class="btn btn-secondary btn-sm">Текущий клиент</a>
<a th:href="@{/api/clients/{clientId}/accounts(clientId=${clientId})}"
   class="btn btn-outline-primary btn-sm">Банковские счета клиента</a>
<hr>

<div align="center">
    <h2>Информация о банковском счёте</h2>

    <hr>
    <p th:text="'Номер счёта: ' + ${account.accountNumber}"/>
    <p th:text="'Баланс: ' + ${account.balance} + ' ₽'"/>
    <p th:text="'Статус: ' + ${account.status.statusName}"/>

    <div th:if="${!account.getStatus().name().equals('CLOSED')}">

        <hr>
        <form th:method="GET"
              th:action="@{/api/clients/{clientId}/accounts/{accountId}/top-up
                                    (clientId=${clientId}, accountId=${account.id})}">
            <h5>Пополнение баланса счёта</h5>
            <input type="submit" value="Пополнить"/>
        </form>

        <hr>
        <form th:method="GET"
              th:action="@{/api/clients/{clientId}/accounts/{accountId}/withdraw
                                    (clientId=${clientId}, accountId=${account.id})}">
            <h5>Снятие денег со счёта</h5>
            <input type="submit" value="Снять"/>
        </form>

        <hr>
        <form th:method="PATCH"
              th:action="@{/api/clients/{clientId}/accounts/{accountId}/close
                                    (clientId=${clientId}, accountId=${account.id})}">
            <h5>Закрытие текущего счёта</h5>
            <div style="color: red" th:if="${closeAccountError}">
                <p th:text="${closeAccountError}"></p>
            </div>
            <input type="submit" value="Закрыть"/>
        </form>

    </div>
</div>

<script th:src="@{/webjars/bootstrap/5.3.1/js/bootstrap.min.js}"></script>

</body>
</html>