<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Пополнение счёта</title>

    <link th:rel="stylesheet" th:href="@{/webjars/bootstrap/5.3.2/css/bootstrap.min.css}"/>
</head>
<body class="bg-success p-2 text-dark bg-opacity-25">

<nav class="navbar navbar-light" style="background-color: #e3f2fd">
    <div class="container" style="display: inline-block">
        <a class="btn btn-primary" th:href="@{/api/clients}">Список клиентов</a>
        <a class="btn btn-secondary" th:href="@{/api/clients/{clientId}(clientId=${clientId})}">Текущий клиент</a>
        <a class="btn btn-outline-primary" th:href="@{/api/clients/{clientId}/accounts
                                                                   (clientId=${clientId})}">Банковские счета клиента
        </a>
        <a class="btn btn-outline-secondary"
           th:href="@{/api/clients/{clientId}/accounts/{accountId}
                                   (clientId=${clientId}, accountId=${account.id})}">Текущий банковский счёт
        </a>
    </div>
</nav>

<div class="container mt-4" style="text-align: center">
    <h2 class="mb-4">Пополнение счёта</h2>

    <form th:method="PATCH"
          th:action="@{/api/clients/{clientId}/accounts/{accountId}/top-up
                                (clientId=${clientId}, accountId=${account.id})}"
          th:object="${account}">
        <input type="hidden" th:field="*{id}"><input type="hidden" th:field="*{accountNumber}"><input type="hidden" th:field="*{balance}"><input type="hidden" th:field="*{status}"><input type="hidden" th:field="*{operationType}">

        <div class="fs-5" style="text-align: end">
            <div class="mb-3 row">
                <label for="balance" class="col-sm-6 col-form-label">Баланс ₽:</label>
                <div class="col-md-3">
                    <input type="text" th:field="*{balance}" readonly class="form-control-plaintext" id="balance"/>
                </div>
            </div>

            <div class="mb-3 row">
                <label for="amount" class="col-sm-6 col-form-label">Введите сумму, которую требуется зачислить (Мин. 1 ₽):</label>
                <div class="col-md-3">
                    <input type="text" th:field="*{amount}" class="form-control" id="amount" placeholder="1000"/>
                </div>
                <div style="color:red; text-align: center" th:if="${#fields.hasErrors('amount')}" th:errors="*{amount}"></div>
            </div>
        </div>

        <input type="submit" class="btn btn-success" value="Пополнить"/>
    </form>
</div>

<script th:src="@{/webjars/bootstrap/5.3.2/js/bootstrap.min.js}"></script>

</body>
</html>